### Gradle ###
.gradle/
build/
/out/
*.jar
*.war
*.ear
!gradle/wrapper/gradle-wrapper.jar

### Intellj IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.metadata/
.classpath
.project
.settings/

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.log
*.tmp
*.bak
*.swp

### File configurazione locali ###
*.local.properties
.env